@import "@/styles/variables.scss";
page {
  height: 100%;
  width: 100%;
  font-family: "MissU";
}

.los-page {
  min-height: 100%;
  width: 100%;
  background: $themeColor;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  .content {
    position: absolute;
    width: -webkit-fill-available;
    .module-box {
      background: rgba(255, 255, 255, 0.4);
      margin-top: 30rpx;
      min-height: 260rpx;
      width: 100%;
      border-radius: 20rpx;
      .module-title {
        padding: 20rpx;
      }
    }
  }
  .content ::-webkit-scrollbar {
    display: none;
  }
}

.my-page-questions {
  .nav-title {
    color: #480261!important;
    font-size: 50rpx!important;
  }
}
